body {
	background-color: whitesmoke;
}

.main {
	max-width: 1440px;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	width: 1000px;
	padding: 30px 20px 60px 20px;
	border-radius: 20px;
	background-color: rgb(236, 234, 230);
	font-family: sans-serif;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;

	&__heading {
		margin: 0;
	}

	&__para {
		font-weight: 600;
	}

	&__currencyList {
		width: 310px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: 30px;
		padding: 0;
		list-style-type: none;
	}

	&__currencyList li {
		font-weight: 600;
		color: rgb(88, 88, 88);
	}

	&__currencyList span {
		color: black;
		margin-left: 10px;
	}

	&__wrapperRight {
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 50px;
	}

	&__date {
		font-size: 10px;
	}

	&__img {
		width: 64px;
		height: 64px;
	}

	&__button {
		position: absolute;
		left: 20px;
		bottom: 20px;
		border: none;
		background-color: rgb(236, 234, 230);
		font-weight: 700;
		color: white;
		font-size: 14px;
		cursor: pointer;
	}
}

@media (max-width: 596px) {
	.section {
		justify-content: center;

		&__wrapperRight {
			align-items: center;
		}
	}
}
