.slider {
	@include flex-center-center;
	max-width: 800px;
	padding: 10px;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	overflow: hidden;

	&__list {
		display: flex;
		padding: 10px;
		gap: 30px;
		list-style-type: none;
		transition: transform 0.3s ease;
		transform: translateX(0);
	}

	&__list li {
		width: 220px;
		height: 300px;
		padding: 10px;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		font-size: 14px;
		font-weight: 600;
	}

	&__list li img {
		object-fit: cover;
		border-radius: 10px;
	}
}
